/* About Banner */
.label-banner {
  background-color: #F8F3E3;
  color: #4B0E15;           
  padding: 40px 40px;
  margin: 40px auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border: 1px solid #E8D6CB;
  width: 90%;
  max-width: 1000px;
  text-align: center;
}

.label-banner h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Satisfy', cursive;
}

.label-banner p {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0.75em 0;
}

/* Accordion Styles */
.accordion-item {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.accordion-btn {
  background-color: #C8A97E; 
  color: #4B0E15;
  cursor: pointer;
  padding: 15px;
  width: 50%;
  border: none;
  text-align: left;
  font-size: 1.4rem;
  margin: 10px 0;
  border-radius: 8px;
  font-family: 'Satisfy', cursive;
  display: block;
  position: relative;
  margin-left: auto; 
  margin-right: auto;
}

/* Accordion Button Hover */
.accordion-btn:hover {
  background-color: #F8F3E3; /* Lighten the background on hover */
}

.accordion-content {
  background-color: #F8F3E3;
  color: #4B0E15; /* Cabernet text color */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  border-radius: 8px;
  width: 50%;
  margin: 0 auto 20px auto;
  padding: 0 20px;
  line-height: 1.2;
  font-size: 1rem;
}

.accordion-content.open {
  padding: 20px;
}

.accordion-contet p {
  margin-bottom: 1rem;
}

.accordion-content ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
}

.accordion-content li {
  font-size: 1rem;
  margin-bottom: 1.6;
  color: #4B0E15;
}

.accordion-content ul,
.accordion-content li {
  text-align: left;
}

/* Accordion Content List Styling */
.accordion-section ul {
  list-style-type: none;
  padding-left: 0;
}

.accordion-section a {
  color: #4B0E15;
  text-decoration: none;
}

.accordion-section a:hover {
  text-decoration: underline;
}

/* Footer */
.site-footer {
  background-color: #3A0D12;  /* Dark wine background */
  color: #F8F3E3;  /* Light cream text */
  font-family: 'Satisfy', cursive;  /* Cursive font for footer text */
  font-size: 1.2rem;
  text-align: center;
  padding: 30px 20px;
  margin-top: 60px;
}
